@model Modelo.PEDIDO
@{
    ViewBag.Title = "Detalle Pedido";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Información del Pedido
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@(Model.IDPEDIDO)</dd>
            <dt>Fecha</dt>
            <dd>@(Model.FECHA)</dd>
            <dt>Estado</dt>
            <dd>@(Model.ESTADO)</dd>
            <dt>Id Usuario</dt>
            <dd>@(Model.IDUSUARIO)</dd>
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Detalle Pedido
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id Pedido</th>
                    <th>Id Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            @foreach (var m in Model.DETALLE_PEDIDO)
            {
                <tr>
                    <td>@(m.IDPEDIDO)</td>
                    <td>@(m.IDPRODUCTO)</td>
                    <td>@(m.PRECIO)</td>
                    <td>@(m.CANTIDAD)</td>
                </tr>
            }
            <tbody></tbody>
        </table>
    </div>
</div>