@model Modelo.USUARIO
@{
    ViewBag.Title = "Detalle Usuario";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Información del Usuario
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@(Model.IDUSUARIO)</dd>
            <dt>Tipo Usuario</dt>
            <dd>@(Model.IDTIPOUSUARIO)</dd>
            <dt>Password</dt>
            <dd>@(Model.PASSWORD)</dd>
            <dt>Nombre</dt>
            <dd>@(Model.NOMBRE)</dd>
            <dt>Apellidos</dt>
            <dd>@(Model.APELLIDOS)</dd>
            <dt>E-mail</dt>
            <dd>@(Model.EMAIL)</dd>
            <dt>Estado</dt>
            <dd>@(Model.ESTADO == "A" ? "Activo" : "Inactivo")</dd>
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Pedidos
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Id Usuario</th>
                </tr>
            </thead>
            @foreach (var m in Model.PEDIDO)
            {
                <tr>
                    <td>@(m.IDPEDIDO)</td>
                    <td>@(m.FECHA)</td>
                    <td>@(m.ESTADO)</td>
                    <td>@(m.IDUSUARIO)</td>
                </tr>
            }
            <tbody></tbody>
        </table>
    </div>
</div>