@model List<Modelo.USUARIO>
@{
    ViewBag.Title = "Listar Usuario";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo Usuario</th>
                <th>Password</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>E-mail</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@(m.IDUSUARIO)</td>
                    <td>@(m.IDTIPOUSUARIO)</td>
                    <td>@(m.PASSWORD)</td>
                    <td>@(m.NOMBRE)</td>
                    <td>@(m.APELLIDOS)</td>
                    <td>@(m.EMAIL)</td>
                    <td>@(m.ESTADO == "A" ? "Activo" : "Inactivo")</td>
                    <td><a href="~/Home/TDUsuario/@m.IDUSUARIO" class="btn btn-warning">Detalle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>