@model Modelo.USUARIO
@{
    ViewBag.Title = (Model.IDUSUARIO != "" && Model.IDUSUARIO != null ? Model.NOMBRE : "Nuevo Usuario");
}

<ol class="breadcrumb">
    <li><a href="~/Usuario">Categorias</a></li>
    <li class="active">@(Model.IDUSUARIO != "" && Model.IDUSUARIO != null ? Model.NOMBRE : "Nuevo Usuario")</li>
</ol>

@using (Html.BeginForm("Guardar", "Usuario", FormMethod.Post, new { id = "frm-Usuario" }))
{
    @Html.HiddenFor(x => x.IDUSUARIO)

    <div class="panel panel-default">
        <div class="panel-heading">Información de Categoria</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(x => x.IDUSUARIO)
                @Html.TextBoxFor(x => x.IDUSUARIO, new { @class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.IDTIPOUSUARIO)
                <select name="IDTIPOUSUARIO" id="IDTIPOUSUARIO" class="form-control">
                    <option value="1" @(Model.ESTADO == "1" ? "selected" : "")>Administrador</option>
                    <option value="2" @(Model.ESTADO == "2" ? "selected" : "")>Vendedor</option>
                    <option value="3" @(Model.ESTADO == "3" ? "selected" : "")>Cliente</option>
                </select>
                @Html.ValidationMessageFor(x => x.IDTIPOUSUARIO, null, new { @class = "label label-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.NOMBRE)
                @Html.TextBoxFor(x => x.NOMBRE, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.NOMBRE, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.APELLIDOS)
                @Html.TextBoxFor(x => x.APELLIDOS, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.APELLIDOS, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.EMAIL)
                @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control", type="email" })
                @Html.ValidationMessageFor(x => x.EMAIL, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.PASSWORD)
                @Html.PasswordFor(x => x.PASSWORD, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PASSWORD, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ESTADO)
                <select name="estado" class="form-control">
                    <option value="A" @(Model.ESTADO == "A" ? "selected" : "")>Activo</option>
                    <option value="I" @(Model.ESTADO == "I" ? "selected" : "")>Inactivo</option>
                </select>
                @Html.ValidationMessageFor(x => x.ESTADO, null, new { @class = "label label-danger" })
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="~/Home/TVCategoria" class="btn btn-danger">Cancelar</a>
    </div>
}