@model Modelo.PRODUCTO
@{
    ViewBag.Title = "Detalle Producto Pedido";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Información del Producto
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@(Model.IDPRODUCTO)</dd>
            <dt>Id Categoria</dt>
            <dd>@(Model.IDCATEGORIA)</dd>
            <dt>Nombre</dt>
            <dd>@(Model.NOMBRE)</dd>
            <dt>Descripción</dt>
            <dd>@(Model.DESCRIPCION)</dd>
            <dt>Precio</dt>
            <dd>@(Model.PRECIO)</dd>
            <dt>Stock</dt>
            <dd>@(Model.STOCK)</dd>
            <dt>Portada</dt>
            <dd>@(Model.PORTADA)</dd>
            <dt>Importacia</dt>
            <dd>@(Model.IMPORTANCIA)</dd>
            <dt>Imagen</dt>
            <dd>@(Model.IMAGEN)</dd>
            <dt>Estado</dt>
            <dd>@(Model.ESTADO == "A" ? "Activo" : "Inactivo")</dd>
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Detalle Producto Pedido
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id Pedido</th>
                    <th>Id Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            @foreach (var m in Model.DETALLE_PEDIDO)
            {
                <tr>
                    <td>@(m.IDPEDIDO)</td>
                    <td>@(m.IDPRODUCTO)</td>
                    <td>@(m.PRECIO)</td>
                    <td>@(m.CANTIDAD)</td>
                </tr>
            }
            <tbody></tbody>
        </table>
    </div>
</div>