@model List<Modelo.PRODUCTO>
@{
    ViewBag.Title = "Listar Productos";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Categoria</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Portada</th>
                <th>Importancia</th>
                <th>Imagen</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@(m.IDPRODUCTO)</td>
                    <td>@(m.IDCATEGORIA)</td>
                    <td>@(m.NOMBRE)</td>
                    <td>@(m.DESCRIPCION)</td>
                    <td>@(m.PRECIO)</td>
                    <td>@(m.STOCK)</td>
                    <td>@(m.PORTADA)</td>
                    <td>@(m.IMPORTANCIA)</td>
                    <td>@(m.IMAGEN)</td>
                    <td>@(m.ESTADO == "A" ? "Activo" : "Inactivo")</td>
                    <td><a href="~/Home/TDProducto/@m.IDPRODUCTO" class="btn btn-warning">Detalle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>